
@layer reset, global, components, overrides;

@import url("./reset.css") layer(reset);

@layer global {
    html {
    --color-gul: #FFCC4A;
    --color-green:#4EAF4E;
    --color-black:#181818;
    --color-grey:#F5F5F5;
    --color-white:#FFFFFF;
    --color-header:rgba(27, 27, 27, 0.91);

    --step-0: clamp(0.625rem, 0.2554rem + 1.8478vw, 1.6875rem);
    --step-1: clamp(0.7813rem, 0.2706rem + 2.5534vw, 2.2494rem);
    --step-2: clamp(0.9766rem, 0.2733rem + 3.5164vw, 2.9985rem);
    --step-3: clamp(1.2207rem, 0.255rem + 4.8283vw, 3.997rem);
    --step-4: clamp(1.5259rem, 0.2034rem + 6.6124vw, 5.328rem);
    --step-5: clamp(1.9073rem, 0.1004rem + 9.0346vw, 7.1022rem);



}
h1 {
    color: var(--color-black);
    font-family: "Lato";
    font-size: 3.125rem;
    font-weight: 600;
    line-height: 1.3;
}

}