---
import "../styles/global.css";
const {overskrift, underskrift, knap} = Astro.props
---

<div>
    <h5>{overskrift}</h5>
    <p>{underskrift}</p>
    <button>{knap}</button>
</div>

<style>
    @layer components {
       div {
        margin: 0 auto;
        inline-size: min(1200px, 100%);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: rgba(38, 38, 38, 0.90);
        backdrop-filter: blur(16px);
height: auto;
width: auto;
padding: 40px;
display: grid;
justify-content: center;
align-items: center;
gap: 10px;
       } 

    }
    button {
        display: flex;
        justify-self: flex-start;
        padding: 16px 31px;
        align-self: flex-start;
        border-radius: 55px;
background: #151515;
align-items: center;
gap: 10px;
color: white;
    }
    
    </style>