---
import EmployeeCard from "./EmployeeCard.astro"
const { data } = Astro.props;

---

<div>
  <ul role="list">
    {data.map((employee) => <EmployeeCard {employee} />)}
  </ul>
</div>


<!-- hvis jeg gerne vil hente en section 2 gange, men skal skifte bagrund, henter jeg den som jeg ville og
skrive theme="dark" og theme "light", dette skal du
 bruge til corevalues. Vi laver en const {data, theme ="light" } =Astro.props
 Så skriver vi <section data-theme={theme}
  [data-theme ="dark"] {
  --color-white f.eks her. 
  Lav en masse variabler her, så du kan ændre farverne.  

  For kun at bruge 3 styks, skrive = employeeData.slice(0, 3);


}
  -->