---
import EmployeeCard from "./EmployeeCard.astro"


---
<div class="mot">
  <h2>Meet Our Great Team</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
  <button>Join our team</button>
</div>
<div>
  <ul class="list">
     <li><EmployeeCard/ imageSrc="/assets/sarah1.png" tag="CEO at Company" name="Sarah Jasmine"></EmployeeCard></li>
     <li><EmployeeCard/ imageSrc="/assets/john.jpg" tag="Manager" name="Sarah Jasmine"></EmployeeCard></li>
     <li><EmployeeCard/ imageSrc="/assets/daisy.jpg" tag="CEO at Company" name="Sarah Jasmine"></EmployeeCard></li>
     <li><EmployeeCard/ imageSrc="/assets/maya.jpg" tag="CEO at Company" name="Sarah Jasmine"></EmployeeCard></li>
     <li><EmployeeCard/ imageSrc="/assets/ryan.png" tag="CEO at Company" name="Sarah Jasmine"></EmployeeCard></li>
     <li><EmployeeCard/ imageSrc="/assets/lilly.jpg" tag="CEO at Company" name="Sarah Jasmine"></EmployeeCard></li>
  </ul>
</div>

<style>
  @layer components {

    h
    .list {
      inline-size: min(1200px, 100%);
      margin: 0 auto;
      
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
li {
  padding-bottom: 5rem;
}
.mot {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
  }
</style>