---

export interface Props {
  tag: string;
  name: string;
  imageSrc: string;
}

const { name, tag, imageSrc } = Astro.props;
---

    <article>
      <figure>
        <img class="img1" src={imageSrc} alt="">
        <div class="ceo"><h5>{tag}</h5> </div>
      </figure>
      <div class="content">
        <h2>{name}</h2>
        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
        <div class="icon">
            <img src="/assets/instagram.svg" alt="instagram">
            <img src="/assets/facebook.svg" alt="facebook">
            <img src="/assets/twitter.svg" alt="twitter">
          </div>
      </div>
      
    </article>
   


  <style>
    @layer components {
        h2, p {
            color: var(--color-black);
        }
        .content {
            display: grid;
            text-align: center;
            gap: 0.8125rem;
            
        }
        figure {
            position: relative;
        }
        .ceo {
            display: flex;
            position: absolute;
            right: 3rem;
            bottom: 6rem;
        }
       .img1 {
        
            border-radius: 1.875rem;
            justify-self: center;
            height: fit-content;
        }
        h5 {
            background-color: var(--color-gul);
    border-radius: 20px;
    line-height: 160%;
    padding: 0.25rem 1.3125rem;
    width: fit-content;
    color: var(--color-black);
    font-weight: 600;
        }
        article {
inline-size: min(400px, 100%);
margin: 0 auto;
            display: grid;
            height: 42.625rem;
            justify-content: center;
            
           
         
        }
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.8125rem;
            
        }

        @media (width < 600px) {
            .img1 {
                inline-size: min(300px, 100%);
            }
            .ceo {
            display: flex;
            position: absolute;
            right: 2.5rem;
            bottom: 2rem;
        }
        h5 {
         text-align: center;
        }
        article {
inline-size: min(250px, 100%);
            display: grid;
            height:28rem;
            justify-content: center;
            
        }
    }
    
  </style>
  