---
import "../styles/global.css";
import CardWButton from "./CardWButton.astro";
---
<section class="hero-grid">
    <div class="hero-content">
      <article class="herotext">
        <h1>Adam Buschemia Business Consultant</h1>
        <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
        <button class="cta-button">Book a Meeting</button>
      </article>
    </div>
    <div class="hero-image">
      <img alt="picture of sarah" src="/assets/photo.png" />
    </div>
</section>


    <div class="cards">
            <CardWButton overskrift="Finance & Restructuring" underskrift="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling." knap="Our Services" />
            <CardWButton overskrift="Our Approach" underskrift="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling." knap="More About "/>
            <CardWButton overskrift="Consultalk Result" underskrift="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling." knap="Explore Our Solution"/>
    </div>


<style>
@layer components {


.cta-button{
    border-radius: 3rem;
    background-color: white;
    padding: 16px 31px; 
    align-self: start;
    justify-content: start;

}
.herotext {
    margin: 0 auto;
    inline-size: min(500px, 100%);
}
.hero-grid {
  background-color: var(--color-black);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;  
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3rlh;
}
.hero-content {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
 
.hero-image {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
 
}
 
.hero-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
    
.cards {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
    margin: 0 auto;
    inline-size: min(1200px, 100%);
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    justify-items: center;
    margin-top: -130px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
  }


background-color:var(--color-black) ;

    &::before {
    --square-count: 12;
    --square-size: 1rem;
    
    --_square-size: var(--square-size, 1rem);
    --_square-half: calc(var(--square-size) / 2);
    --_square-sum: calc(var(--square-count) * var(--square-size));
    z-index: -1;
    content: '';
    position: absolute;
    left: -100px;
    top: 450px;
    transform-origin: 0 0;
    inline-size: calc( round( var(--_square-sum), var(--_square-size) ) - var(--_square-half) );
    aspect-ratio: .7;
    background: linear-gradient(135deg, #BE965D, #976F40, #C99B61, #F0BE7B , #FFCB85, #EEBC79, #C0935B, #976F40) 0 0 / 100% 100%;
    mask:
      var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
      var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
      rotate: -90deg;
        } 

@media (width < 700px) {
    .hero-grid {
    grid-template-columns: 1fr;
    grid-template-rows:  auto auto auto;
    margin-bottom: -3rlh;
  }
 
  .hero-image {
    grid-column: 1;
    height: 50vh;
  }
 
  .cards {
    grid-column: 1;
    grid-row: 3;
    margin: 0 auto;
    inline-size: min(400px, 100%);
    grid-template-columns: 1fr;
    margin-top: 0;
    align-self: center;
  }
}
}

</style>