---
import "../styles/global.css";
import CardWButton from "./CardWButton.astro";
---
<section>
    <div class="tekst">
        <div class="inside">
                <h1>Adam Buschemia Business Consultant</h1>
                <p> Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
                <button class="knappen">Book a Meeting</button>
        </div>
    <div><img src="/assets/photo.png" alt="">
    </div>
</div>
    <div class="card">
            <CardWButton overskrift="Finance & Restructuring" underskrift="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling." knap="Our Services" />
            <CardWButton overskrift="Our Approach" underskrift="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling." knap="More About "/>
            <CardWButton overskrift="Consultalk Result" underskrift="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling." knap="Explore Our Solution"/>
    </div>
</section>

<style>
@layer components {


.knappen {
    border-radius: 3rem;
    background-color: white;
    padding: 16px 31px; 
    align-self: start;
    justify-content: start;

}
@media (width > 700px) {
section {
    display:grid;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    background-color: var(--color-black);
}

}
/* section {
        margin: 0 auto;
        max-height: 600px;
        display: grid;
        background-color: var(--color-black);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 4em;
    } */
    .tekst {
        inline-size: min(1000px, 100%);
        display: grid;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        
        grid-column: 1;


        }
        .tekst img {
            grid-template-rows: subgrid;
            grid-row: 1/4;
        }
    
    .inside  {
        align-content: center;
        display: grid;


    } 
.card {
    grid-column: 1;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

background-color:var(--color-black) ;

    &::before {
    --square-count: 12;
    --square-size: 1rem;
    
    --_square-size: var(--square-size, 1rem);
    --_square-half: calc(var(--square-size) / 2);
    --_square-sum: calc(var(--square-count) * var(--square-size));
    z-index: -1;
    content: '';
    position: absolute;
    left: -100px;
    top: 450px;
    transform-origin: 0 0;
    inline-size: calc( round( var(--_square-sum), var(--_square-size) ) - var(--_square-half) );
    aspect-ratio: .7;
    background: linear-gradient(135deg, #BE965D, #976F40, #C99B61, #F0BE7B , #FFCB85, #EEBC79, #C0935B, #976F40) 0 0 / 100% 100%;
    mask:
      var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
      var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
      rotate: -90deg;
        } 

    
.card {
    margin: 0 auto;
    inline-size: min(1200px, 100%) ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
}


</style>