---
import "../styles/global.css";
export interface Props {
  tag: string;
  headline: string;
  imageSrc: string;
}

const { tag, headline, imageSrc } = Astro.props;
---
<header>
    <div  class="hero full" >
        <img src={imageSrc} alt="">
        <div class="content">
          <div class="content-background">
              <div class="tag">
                  <h5>{tag}</h5>
              </div>
              <h1>{headline}</h1>
          </div>
        </div>
      </div>
</header>

<style>
    @layer reset, global, components, overrides;
@layer components {
   h1 {
    color: black;
    
   }

    .hero {
        display: grid;
        overflow-x: hidden; 
        grid-template-rows: 1fr ; 
        grid-template-columns: minmax(100, 1fr) 1fr minmax(0, 50%);
        position: relative; 
        
    
     img {
        overflow-x: hidden;
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        grid-row: 1 / -1; 
        grid-column: 1 / 5; 
    }

    .tag h5 {
        overflow-x: hidden;
    background-color: var(--color-gul);
    border-radius: 20px;
    font-weight: normal;
    color: black;
    padding: 0rem 0.9375rem;
    width: fit-content;
}

    .content {
        overflow-x: hidden;
        width: 80vw; 
        display: grid;
        align-items: center; 
        justify-items: center; 
        grid-row: 1 / -1; 
        grid-column:2 / 3; 
    }

    .content-background {
        overflow-x: hidden;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(5.5px);
        padding: 6vh 5vw 7.5vh 4vw;
        border-radius: 1.8125rem;
    }


} 
}
</style>