---
import "../styles/global.css";
---

<section id="overordnet">
    <div class="grid1">
        <img src="../assets/ images/billede2.png" alt="">
    </div>
    <div class="grid2">
        <div>
            <h5></h5>
        </div>
        <div>
            <h2></h2>
        </div>
        <div>
            <p></p>
        </div>
        <div>
            <div><img src="../assets/tick.svg" alt="">
            <p></p></div>
            <div><img src="../assets/tick.svg" alt="">
                <p></p></div>
        </div>
    </div>
    
</section>

<style>

</style>